
* {
    font-family: Helvetica;
}

html {
    background-color: $0;
    color: $1
}

body {
    margin: 0;
}

.container {
    margin: 16px;
}

.content-container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
}

.column {
  flex: 1 1 0px;
  padding: 8px;
}

.btn:link {
  color: $1;
}

.btn:visited {
  color: $1;
}

.btn:hover {
  color: $1;
}

.btn:active {
  color: $1;
}

.nav {
    padding: 8px;
    background-color: $4;
    color: $5;
}

.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-home {
    font-weight: 700;
    font-size: 24px;
    flex-grow: 1;
}

.nav-link-group {
    margin: auto;
    margin-top: 16px;
}

@media only screen and (max-width: 380px) {
    .nav-home {
        text-align: center;
    }

    .nav-link-group {
        margin-top: 16px;
    }
    
    .nav-link {
        text-align: center;
    }

    .hero {
        margin-left: -16px !important;
        margin-right: -16px !important;
    }
}

.nav-link {
    background-color: transparent;
    transition: color .2s;
    border-radius: 3px;

    font-weight: 700;
    text-decoration: none;
    padding: 8px;
    margin: auto 8px;
}

.nav-link:hover {
    color: $2;
}

.nav-link:active {
    background-color: rgb(255, 255, 255, 0.4);
    color: $2;
}

.hero {
    font-size: 18px;
    background-color: $4;
    border-radius: 4px;
    padding: 32px;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.hero-visual {
    width: 128px;
    margin: 48px auto;
}

.hero-visual > img {
    border-radius: 50%;
}

.hero-heading {
    font-size: 48px;   
    font-weight: 900;
}
